@import '../../../App.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 50vw;
  margin: 0px auto;
}
.header {
  width: 100vw;
  padding: 32px 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.main__title {
  text-align: center;
  color: $text-color;
  text-wrap: balance;
  font-size: $main-title-font-size;
}
.button {
  padding: 20px 40px;
  width: clamp(100px, 20%, 200px);
  margin: auto;
  background-color: $button-background;
  border: 3px solid $button-border;
  outline: none;
  color: $text-color;
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $plain-text-font-size;
}
.button:hover {
  background-color: $button-border;
  color: $background-color;
}
.button:active {
  background-color: $button-active;
  color: $background-color;
}
.animated {
  border: 1px solid white;
  background-color: $button-active;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: $plain-text-font-size;
  aspect-ratio: 1 / 1;
  width: 20%;
  position: absolute;
}

.figure1 {
  animation: 2s ease-in-out one;
  left: 10%;
  top: 0;
}
.figure2 {
  animation: 2s ease-in-out two;
  top: 0;
  left: 30%;
}
.figure3 {
  animation: 2s ease-in-out three;
  top: 0;
  right: 30%;
}
.figure4 {
  animation: 2s ease-in-out four;
  top: 0;
  right: 10%;
}
.figure5 {
  animation: 2s ease-in-out five;
  top: 20%;
  left: 10%;
}
.figure6 {
  animation: 2s ease-in-out six;
  top: 20%;
  left: 30%;
}
.figure7 {
  animation: 2s ease-in-out seven;
  top: 20%;
  right: 30%;
}
.figure8 {
  animation: 2s ease-in-out eight;
  top: 20%;
  right: 10%;
}
.figure9 {
  animation: 2s ease-in-out nine;
  top: 40%;
  left: 10%;
}
.figure10 {
  animation: 2s ease-in-out ten;
  top: 40%;
  left: 30%;
}
.figure11 {
  animation: 2s ease-in-out eleven;
  // top: calc(20% + 40%);
  left: 50%;
  bottom: 40%;
}
.figure12 {
  animation: 2s ease-in-out twelve;
  // top: calc(20% + 40%);
  left: 70%;
  bottom: 40%;
}
.figure13 {
  animation: 2s ease-in-out thirteen;
  top: 60%;
  left: 10%;
}
.figure14 {
  animation: 2s ease-in-out fourteen;
  top: 60%;
  left: 30%;
}
.figure15 {
  animation: 2s ease-in-out fifteen;
  top: 60%;
  left: 50%;
}
.figure16 {
  animation: 2s ease-in-out sixteen;
  top: 60%;
  left: 70%;
}

@keyframes one {
  from {
    transform: rotate(360deg);
    opacity: 0;
    top: 0;
    left: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    top: 20vh;
    left: 20vw;
  }
}
@keyframes two {
  from {
    transform: rotate(360deg);
    top: 0;
    opacity: 0;
    left: 40vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: 20vh;
    left: 40vw;
  }
}
@keyframes three {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 0;
    right: 0vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: 20vh;
    right: 30vw;
  }
}

@keyframes four {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 0;
    right: 0vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: 20vh;
    right: 10vw;
  }
}
@keyframes five {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 20vh;
    left: 0;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: calc(20vh + 20vw);
    left: 10vw;
  }
}
@keyframes six {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 20vh;
    left: 0vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: calc(20vh + 20vw);
    left: 40vw;
  }
}
@keyframes seven {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 20vh;
    right: 0vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: calc(20vh + 20vw);
    right: 30vw;
  }
}
@keyframes eight {
  from {
    opacity: 0;
    transform: rotate(360deg);
    top: 20vh;
    right: 0vw;
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
    top: calc(20vh + 20vw);
    right: 10vw;
  }
}
@keyframes eleven {
  from {
    transform: rotate(360deg);
    opacity: 0;
    bottom: 0;
    right: 0vw;
  }

  to {
    transform: rotate(0deg);
    bottom: 20vw;
    opacity: 1;
    right: 30vw;
  }
}
@keyframes twelve {
  from {
    transform: rotate(360deg);
    opacity: 0;
    bottom: 0;
    right: 0vw;
  }

  to {
    transform: rotate(0deg);
    bottom: 20vw;
    opacity: 1;
    right: 10vw;
  }
}

@keyframes ten {
  from {
    transform: rotate(360deg);
    opacity: 0;
    bottom: 0;
    left: 0vw;
  }

  to {
    transform: rotate(0deg);
    bottom: 20vw;
    opacity: 1;
    left: 30vw;
  }
}
@keyframes nine {
  from {
    transform: rotate(360deg);
    opacity: 0;
    bottom: 0;
    left: 0vw;
  }

  to {
    transform: rotate(0deg);
    bottom: 20vw;
    opacity: 1;
    left: 10vw;
  }
}

@keyframes thirteen {
  from {
    transform: rotate(360deg);
    opacity: 0;
    left: 0vw;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    left: 30vw;
  }
}
@keyframes fourteen {
  from {
    transform: rotate(360deg);
    opacity: 0;
    left: 0vw;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    left: 10vw;
  }
}

@keyframes fifteen {
  from {
    transform: rotate(360deg);
    opacity: 0;
    right: 0vw;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    right: 30vw;
  }
}
@keyframes sixteen {
  from {
    transform: rotate(360deg);
    opacity: 0;
    right: 0vw;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    right: 10vw;
  }
}

@media (max-width: 750px) {
  .box {
    width: 100vw;
  }
}
